# Laravel App Settings
APP_NAME=DatadocM43
APP_ENV=production
APP_KEY=base64:KS9jrY8zPBo9r8sx2YADCmSIs4I1Uia9LLXELubGw4Y=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=https://datadoc.m43.agilytech.com
ASSET_URL=https://datadoc.m43.agilytech.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database Configuration
DB_CONNECTION=mysql
DB_HOST=mysql              # Verifique o nome exato do serviço no Docker Compose
DB_PORT=3306               # Mantenha a porta conforme configurada no container MySQL
DB_DATABASE=datadoc
DB_USERNAME=deyvid           # Usuário MySQL usado pelo Laravel
DB_PASSWORD=

# Session Configuration
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# Broadcasting, Filesystem, Queue
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

# Cache Configuration
CACHE_STORE=database
CACHE_PREFIX=

# Memcached Configuration
MEMCACHED_HOST=127.0.0.1

# Redis Configuration
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# Mail Configuration
MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# AWS Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

# Vite Configuration
VITE_APP_NAME="${APP_NAME}"



# Nginx Configuration
NGINX_IMAGE_VERSION=1.0.0
NGINX_PUBLIC_VOLUME=./public
NGINX_STORAGE_VOLUME=./storage
DOMAIN=datadoc.m43.agilytech.com/

# PHP Configuration
PHP_IMAGE_VERSION=1.0.0
PHP_APP_VOLUME=./
PHP_LOGS_VOLUME=./logs
PHP_VERSION=8.2

# MySQL Configuration
MYSQL_VERSION=8.0
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=datadoc
MYSQL_USER=deyvid
MYSQL_PASSWORD=
MYSQL_PORT=3309

# Redis Configuration
REDIS_VERSION=alpine
REDIS_PORT=6379
